<form id="login-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" ng-model="signup.username" class="form-control" id="email" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="photoUrl">Photo URL (must be a public link)</label>
        <input type="text" ng-model="signup.photoUrl" class="form-control" id="photoUrl" placeholder="http://photos.com/me">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
